<div class="body">
  <div class="container">
    <div class="center">
      <h1>Reset Password</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSumbit()">
        <div class="txt_field">
          <input type="email" name="email" formControlName="email" placeholder="Email">
        </div>
        <div class="error-message"
          *ngIf="(email.hasError('required') || email.hasError('pattern')) && (email?.dirty || email?.touched)">
          {{ emailErrorMessage() }}
        </div>
        <input name="submit" type="Submit" value="Sign Up">
        <div class="link">
       <a routerLink="/login">Click here for Login</a>
        </div>
      </form>
    </div>
  </div>
</div>